<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<h1 th:text="${userName} + '\'s Profile'"></h1>

<div class="container">
    <form action="#" th:action="@{/edit}" th:object="${userProfile}" method="post">

        <div class="mb-3">
            <label class="form-label">Select your resume theme</label>
            <select th:field="${userProfile.themeChoice}">

<!--                Statically putting 3 in the loop to indicate the number of resume templates as you have not used a field to store the number of themes for the resume.-->
<!--                Find a way to make it dynamic.-->
                <option th:each="i : ${#numbers.sequence(1,3)}" th:value="${i}" th:text="${'Theme ' + i}"></option>

            </select>
        </div>


        <div class="mb-3">
            <label class="form-label">First Name</label>
            <input type="text" class="form-control" th:field="${userProfile.firstName}">

            <!--This firstName you are getting from userProfile which you are sending from controller and it's name should be similar to the attribute declared in the Model. And instead of th:field="${userProfile.firstName}" you can also use th:field="*{firstName}" this is because you have used the main Object as th:object="${userProfile}" in the "form" element-->
            <div class="form-text">Enter your first name.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Last Name</label>
            <input type="text" class="form-control" th:field="${userProfile.lastName}">
            <div class="form-text">Enter your last name.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" th:field="${userProfile.email}">
            <div class="form-text">Enter your E-mail address.</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Phone</label>
            <input type="text" class="form-control" minlength="10" maxlength="10" th:field="${userProfile.phone}">
            <div class="form-text">Enter your phone number</div>
        </div>

        <div class="mb-3">
            <label class="form-label">Designation</label>
            <input type="text" class="form-control" th:field="${userProfile.designation}">
            <div class="form-text">Enter your current designation</div>
        </div>


        <div class="mb-3">
            <label class="form-label">Summary</label>
            <textarea type="text" class="form-control" th:field="${userProfile.summary}"></textarea>
            <div class="form-text">Enter something about yourself.</div>
        </div>

        <h2>Experience</h2>

        <table>
            <thead>
            <tr>
                <th>Company</th>
                <th>Designation</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Current Job?</th>
                <th></th> <!--just to get space for delete anchor-->
            </tr>
            </thead>


            <tr th:each="job, stat: ${userProfile.jobs}">

                <!-- all the attributes of job object -->
                <td><input class="form-control" th:field="${userProfile.jobs[__${stat.index}__].company}"></td>
                <td><input class="form-control" th:field="${userProfile.jobs[__${stat.index}__].designation}"></td>
                <td><input type="date" class="form-control" th:field="${userProfile.jobs[__${stat.index}__].startDate}"></td>
                <td><input type="date" class="form-control" th:field="${userProfile.jobs[__${stat.index}__].endDate}"></td>
                <td><input type="checkbox" class="" th:field="${userProfile.jobs[__${stat.index}__].currentJob}"></td> <!-- sometimes isCurrentJob gives a problem. should not use "is" in a variable, "is" gets generated automatically in getters and setters. -->
                <td><a th:href="@{'./delete?type=job&index=' + ${stat.index}}">Delete</a></td>
            </tr>

        </table>

       <p><a href="./edit?add=job">Add Job</a></p>

        <h2>Education</h2>
        <table>
            <thead>
            <tr>
                <th>College</th>
                <th>Qualification</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Summary</th>
                <th></th> <!--just to get space for delete anchor-->
            </tr>
            </thead>


            <tr th:each="education, stat: ${userProfile.educations}">

                <!-- all the attributes of education object -->
                <td><input class="form-control" th:field="${userProfile.educations[__${stat.index}__].college}"></td>
                <td><input class="form-control" th:field="${userProfile.educations[__${stat.index}__].qualification}"></td>
                <td><input type="date" class="form-control" th:field="${userProfile.educations[__${stat.index}__].startDate}"></td>
                <td><input type="date" class="form-control" th:field="${userProfile.educations[__${stat.index}__].endDate}"></td>
                <td><input type="text" class="form-control" th:field="${userProfile.educations[__${stat.index}__].summary}"></td> <!-- sometimes isCurrentJob gives a problem. should not use "is" in a variable, "is" gets generated automatically in getters and setters. -->
                <td><a th:href="@{'./delete?type=education&index=' + ${stat.index}}">Delete</a></td>
            </tr>

        </table>
        <p><a href="./edit?add=education">Add Education</a></p>



        <h2>Skills</h2>
        <table>

            <tr th:each="skill, stat: ${userProfile.skills}">

                <!--                all the attributes of education object-->
                <td><input class="form-control" th:field="${userProfile.skills[__${stat.index}__]}"></td>
                <td><a th:href="@{'./delete?type=skill&index=' + ${stat.index}}">Delete</a></td>
            </tr>

        </table>

        <p><a href="./edit?add=skill">Add Skill </a></p>

        <input type="submit" value="Submit">

    </form>
</div>

</body>
</html>